body, html {
	margin:0;
	padding:0;
	background-color:black;
}
.header {
	height:100px;
	width:100%;
	background: linear-gradient(black, #404040);
}
.header h2 {
	color:grey;
	margin-left:200px;
	position:absolute;
	top:5px;
	font-family: 'Lobster', cursive;
	font-size:50px;
}
ul li {
	list-style-type:none;
	display:inline;
	color:grey;
	font-size:20px;
	padding:30px;
}
nav ul li a:hover {
	text-decoration:none;
}
.navigation {
	text-align:right;
	margin-right:200px;
	position:absolute;
	top:30px;
	right:10px;
}
.logo {
	position:absolute;
	width:90px;
	height:90px;
	top:5px;
	left:100px;
	border:2px solid;
	border-radius:50px;
}
.gallery {
	height:500px;
}
.footer {
	background:linear-gradient(#404040, black);
	width:100%;
	height:125px;
	margin:0;
	padding:0;
}
.footer h2 {
	font-family:lobster, cursive;
	font-size:100px;
	margin:0px;
	padding:0px;
	color:grey;
	padding-top:25px;
	padding-left:75px;
}
.footer ul li {
	text-align:center;
}	
.bg1 {
	background-image: url("../images/ls1.jpg");
	width:100%;
	height:400px;
	background-size:cover;

}
.bg2 {
	background-image: url("../images/ls2.jpg");
	width:100%;
	height:400px;
	background-size:cover;

}
.bg3 {
	background-image: url("../images/ls3.jpg");
	width:100%;
	height:400px;
	background-size:cover;

}
.bg4 {
	background-image: url("../images/ls4.jpg");
	width:100%;
	height:400px;
	background-size:cover;

}
.bg5 {
	background-image: url("../images/ls5.jpg");
	width:100%;
	height:400px;
	background-size:cover;

}
.bg6 {
	background-image: url("../images/ls6.jpg");
	width:100%;
	height:400px;
	background-size:cover;

}
.bg7 {
	background-image: url("../images/ls8.jpg");
	width:100%;
	height:400px;
	background-size:cover;

}

/*// tablet //*/
@media all and (max-width: 768px) {

.navigation {
	text-align:right;
	margin-right:0px;
	position:absolute;
	top:30px;
	right:10px;
}
ul li {
	list-style-type:none;
	display:inline;
	color:grey;
	font-size:20px;
	padding:10px;
}
.header h2 {
	color:grey;
	margin-left:150px;
	position:absolute;
	top:5px;
	font-family: 'Lobster', cursive;
	font-size:50px;
}
.logo {
	position:absolute;
	width:90px;
	height:90px;
	top:5px;
	left:50px;
	border:2px solid;
	border-radius:50px;
}
.footer ul li {
	text-align:left;
	font-size:14px;
}
	}

	/*phones*/
@media all and (max-width: 400px) {
.navigation {
	text-align:right;
	margin-right:0px;
	position:absolute;
	top:30px;
	right:10px;
}
ul li {
	list-style-type:none;
	display:inline;
	color:grey;
	font-size:12px;
	padding:5px;
}
.header h2 {
	color:grey;
	margin-left:60px;
	position:absolute;
	top:10px;
	font-family: 'Lobster', cursive;
	font-size:20px;
}
.logo {
	position:absolute;
	width:40px;
	height:40px;
	top:20px;
	left:10px;
	border:2px solid;
	border-radius:50px;
}
.footer h2 {
	font-family:lobster, cursive;
	font-size:30px;
	margin:0px;
	padding:0px;
	color:grey;
	padding-top:25px;
	padding-left:40px;
}
.footer ul li {
	text-align:left;
	font-size:8px;
}
	}


